# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略 Python 的虛擬環境
venv/
__pycache__/

# 忽略環境變數檔 (最重要的！)
.env
.env.local

# 忽略 Mac 的系統檔
.DS_Store

# 忽略 Node.js 套件
node_modules/